.project-item {
    position: relative;
    opacity: 0;
    transition: opacity 0.1s;
}

.revealed {
    opacity: 1;
}

.info {
    height: 100%;
    display: flex;
    padding: 3.2rem 4.2rem;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;

    flex: 2.8;

    box-sizing: border-box;

    background-color: var(--night);
}

.title {
    font-size: 6.8rem;
    font-weight: 900;
    
    color: #fff;
}

.excerpt {
    font-size: 3.8rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    line-height: 1.1;
    
    color: #fff;
}