.project-description-container {
    width: 60%;
    margin: 0 auto 10rem;
}

.image-content-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 10rem;
}

.desktop-image-container {
    width: 80%;
    position: relative;
}

.mobile-overlay-container {
    position: absolute;
    width: 30%;
    bottom: 5%;
    z-index: 9999;
}

.image-description-container {
    width: 19%;
}

/* QUERIES */
@media (max-width: 851px) and (min-height: 740px) {
    .project-description-container {
        width: 80%;
    }
    .desktop-image-container {
        width: 100%;
    }
    .image-content-container {
        flex-direction: column;
        margin-bottom: 30rem;
        padding: 0 !important;
    }
    .image-description-container {
        width: 30%;
        order: 2 !important;
    }
    .mobile-overlay-container {
        bottom: -55%;
        left: 65% !important;
    }
    .image-description-text {
        font-size: 150%;
        text-align: left !important;
    }
}
