.tech-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    margin-bottom: 2rem;
    margin-right: 1rem;

    animation-delay: 0.5s;
    opacity: 0;
    transform: translateX(-100%);
}