.arrow {
    height: 12rem;
    width:12rem;

    opacity: 0;
    transform: translateY(-30%);

    animation-name: down;
    animation-timing-function: cubic-bezier(.38,.84,.42,1);
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}

@keyframes down {
    35% { opacity: 1 }
    45% { opacity: 1 }
    85% { transform: translateY(3%) }
    100% { opacity: 0 }
}