.button {
	position: fixed;
	margin-top: 3rem;
	left: -2rem;

	width: 8rem;
	height: 7rem;

	z-index: 9999;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	background-color: var(--night);
	cursor: pointer;
	
	border: 0.54rem solid #f9f9f9;
	border-radius: 0 2.5rem 2.5rem 0;
	box-shadow: inset 0 0 0 0.3rem var(--night);
	background-clip: content-box;

	animation-name: appear;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(.37,.85,.57,1);
	animation-fill-mode: forwards;

	transform: translateX(-10rem);
	transition-property: background-color, translateX();
	transition-duration: 0.2s;
}

.disappear {
	transform: translateX(0rem);
	animation-name: disappear;
	animation-duration: 0.2s;
}

.arrow {
	height: 5rem;
	width: 5rem;

	filter: invert(1);

	transition-property: filter;
	transition-duration: 0.2s;
}

.button:hover {
	background-color: transparent;
}

.arrow:hover {
	filter: none;
}

@keyframes appear {
	0% {transform: translateX(-10rem)}
	100% {transform: translateX(0rem)}
}
@keyframes disappear {
	0% {transform: translateX(0rem)}
	100% {transform: translateX(-10rem)}
}

@media (max-width: 740px) and (min-height: 630px) { 
	.button {
		width: 9rem;
		height: 8rem;
	}

	.arrow {
		height: 6rem;
		width: 6rem;
	}
}