.email-text {
    font-size: 5.8rem;
    font-weight: 500;

    margin-left: 8rem;
    margin-bottom: 0rem;

    text-decoration: underline;
    text-decoration-color: transparent;

    transition-property: text-decoration-color;
	transition-duration: 0.2s;
}

.email-copy {
    width: 5rem;
    height: 5rem;

    opacity: 0;
    transition-property: opacity;
	transition-duration: 0.2s;
}

.copy-message {
    position: absolute;
    font-size: 4rem;
    font-style: italic;
    font-weight: 300;

    top: -2rem;
    left: 8rem;

    opacity: 0;
}

.email-text,
.copy-message {
    color: var(--night);
}

.fade-in-out {
    animation: fade-in-out;
    animation-duration: 2s;
}
  
@keyframes fade-in-out {
    0% { opacity: 0; }
    20% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.email-text:hover {
    cursor: pointer;
    text-decoration-color: var(--night);
}

.email-text:hover .email-copy { opacity: 1 }
