@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-color: #111; 
    margin: 0;
    padding: 0; 
    
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 

}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.example::-webkit-scrollbar {
    display: none;
}

/* TEMP */
h1 {
    font-size: 16rem;
    font-weight: 700;
    line-height: 0;
}

p {
    font-size: 3.6rem;    
    font-weight: 700;
    color: white;
    line-height: 1.1;
}

/* PLAINS */
.x-plain {
  transform: rotateX(60deg) rotateZ(-45deg);

}

.y-plain {
  transform: rotateX(-16.8deg) rotateY(60deg);

}

.z-plain {
  transform: rotateX(16.8deg) rotateY(60deg);

}