// @media (max-aspect-ratio: 1) {
//     @media (max-width: 67em) { html { font-size: 90% } }
//     @media (max-width: 61.25em) { html { font-size: 80% } }
//     @media (max-width: 53.2em) { html { font-size: 70% } }
//     @media (max-width: 46.25em) { html { font-size: 60% } }
//     @media (max-width: 39.4em) { html { font-size: 55% } }
//     @media (max-width: 36.25em) { html { font-size: 50% } }
//     @media (max-width: 33.15em) { html { font-size: 45% } }
//     @media (max-width: 30em) { html { font-size: 40% } }
//     @media (max-width: 26.25em) { html { font-size: 35% } }
//     @media (max-width: 22.5em) { html { font-size: 30% } }
// }
// @media (min-aspect-ratio: 1) {
//     @media (max-height: 63em) { html { font-size: 90% } }
//     @media (max-height: 58.75em) { html { font-size: 80% } }
//     @media (max-height: 51em) { html { font-size: 70% } }
//     @media (max-height: 44.75em) { html { font-size: 60% } }
//     @media (max-height: 38.5em) { html { font-size: 55% } }
//     @media (max-height: 34.5em) { html { font-size: 50% } }
//     @media (max-height: 31.25em) { html { font-size: 45% } }
//     @media (max-height: 28.25em) { html { font-size: 40% } }
//     @media (max-height: 25em) { html { font-size: 35% } }
//     @media (max-height: 22.25em) { html { font-size: 30% } }
// }

@mixin font-size($property, $values...) {
	@each $value in $values {
		$index: index($values, $value);
		$font-size: if(
			$index <= 4,
			100% - (10 * $index),
			50% - (5 * ($index - 5))
		);
		@media (max-#{$property}: $value) {
			html {
				font-size: $font-size;
			}
		}
	}
}

@include font-size(
	width,
	67em,
	61.25em,
	53.2em,
	46.25em,
	39.4em,
	36.25em,
	33.15em,
	30em,
	26.25em,
	22.5em
);
@include font-size(
	height,
	63em,
	58.75em,
	51em,
	44.75em,
	38.5em,
	34.5em,
	31.25em,
	28.25em,
	25em,
	22.25em
);
